

p {
    color: black;
    font-size: 20px;
    margin: 0px;
}

h1 {
    color:azure;
}

/* Text of profile information */
.profile-info{

    font-style:italic;

}

/* Empty Spacing */
.emptyDiv {
    height: 30px;
}

.divvy {
    width: 200px;
    height: 150px;
    background-color: lightblue;
}

.css-1cpxqw2{
    color: purple;
}


button{
    color: red;
}

/* Multicolor bar at top */
.css-1dp5vir{
    background-image: linear-gradient(90deg, hsl(165, 70%, 42%), hsl(165, 70%, 42%));
}

/* Header */
.css-18ni7ap{
    background-color: hsl(165, 70%, 42%);
}

/* Background Body */
.css-fg4pbf{
    background-color: hsl(165, 70%, 42%);
}

/* Nav bar */
.css-10xlvwk{
    background-color:hsla(192, 100%, 97%, 0.664);
}

/* Nav bar pages font */
.css-uc76bn {
    color: black;
    font-size: 26px;
}

/* Tabs for login */
.st-ch {
    font-size: 26px;
    margin-left: 14px;
    margin-right: 14px;
}

.bottom-container{
    
   
    
}

.footer-link{
    color:#EAF6F6;
    
    padding: 2%;
    margin-right: 50vh;
}

.css-1q1n0ol{
    max-width: 1500px;
}

.p{
    text-align: center;
}

.image{

    display: flex;
    justify-content: center;
}

.On-thehouse{
    font-family: 'Fasthand', cursive;
    font-family: 'Poiret One', cursive;
    font-size: 75px;
    display: flex;
    justify-content: center;
}

.css-10trblm{
    margin: 0px;
}

.our-app{
    text-align: center;
    margin: auto;
}

.app-div {
    margin-bottom: 30%;

}

.pages-div{
    margin-bottom: 20%;
}

.page-headings{
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
}

.css-12oz5g7{

    max-width: 55rem;
  
}

.descriptions{
    font-size: 30px;
}

.css-10xlvwk{

    width:16rem;
}